@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Bienvenue !</h1>
        <br />
        <h3>Vous trouverez ci-dessous les pages relatives à chaque section demandée.</h3>

        <a asp-page="/Articles/Index">Articles</a>
        <br />
        <a asp-page="/Etageres/Index">Etagères</a>
        <br />
        <a asp-page="/Secteurs/Index">Secteurs</a>
        <br />
    </div>
